<config
	lang="fr"
	langs="fr"
	langnames="Français"

	host="localhost"
	name = "Cagette.net"
	webmaster_email = "cto@alilo.fr"
	
	database="mysql://docker:docker@mysql/db"
	sqllog="0"
	
	debug="1"
	cache="0"
	maintain="0"
	cachetpl="0"
	key="7F8Xr1hDLyDMeNDF9kod"

	cagette_api="http://localhost:3010"
	cagette_bridge_api="http://nest:3010"

	MANGOPAY_CLIENT_ID = "cagettenet"
	MANGOPAY_API_KEY = "gAs7Jmo3WFcoRHEmGdTkNPUUxLowvKdZwgOMfhoXORK2fo9HTT"
	MANGOPAY_BASE_URL = "https://api.sandbox.mangopay.com/v2.01"
/>
