//@import '../font/icons';
//probleme de path de chargement des fonts



i.icon{
	position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
