/*
  SHOP
*/
.shop .products {
  display: flex; }
  .shop .products .product {
    display: flex;
    width: 250px;
    margin-right: 10px;
    cursor: default;
    user-select: none; }
    .shop .products .product img {
      width: 120px;
      height: 120px; }
    .shop .products .product .body {
      width: 100%;
      background: white;
      padding: 10px; }
    .shop .products .product input {
      width: 50%; }
    .shop .products .product .button {
      cursor: pointer; }
